.General{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.Form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1vh;
    padding: 1vh;
}

.General input{
    width: 40vh;
    background-color: rgb(95, 93, 93);
    color: white;
    border-style: none;
    border-radius: 4px;
}