.Header{
    background-color: aqua;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / -1;

    padding: 5vh;
    font-size: x-large;
}