.Professional{
    display: flex;
    flex-direction: column;
}

.Professional .Form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vh;
    padding: 1vh;
}

.Professional textarea{
    height: 20vh;
}

.Professional input, textarea{
    width: 40vh;
    background-color: rgb(95, 93, 93);
    color: white;
    border-style: none;
    border-radius: 4px;
}

.Professional button{
    margin-top: 2vh;
    border-radius: 8px;
    border: 1px solid aqua;
    color: white;
    background-color: black;
}

.Professional button:hover{
    background-color: grey;
}

.Professional .add{
    margin-top: 0;
}