.Sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    padding: 5vh;

    grid-column: 1;
}

.Card{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: rgb(48, 46, 46);
    border: 3px solid aqua;
    border-radius: 8px;
    padding: 1vh;
    width: 50vh;
}
